html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsla(211, 68%, 94%, 0.363);
  font-family: "Plus Jakarta Sans", sans-serif;
}

.main-container {
  background-color: white;
  width: 60%;
  height: 90%;
  font-size: 1.1rem;
  position: relative;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 2rem 2rem;
  border-radius: 0.9rem;
  padding: 2rem;
}

.header-container {
  display: flex;
  margin-bottom: 2rem;
}
.notification {
  font-weight: 400;
}
h1 {
  font-size: 1.6rem;
  display: inline-block;
}

.noti-number {
  background-color: hsl(219, 85%, 26%);
  color: white;
  font-size: 1.3rem;
  width: 1.7rem;
  text-align: center;
  margin: 0.4rem;
  border-radius: 0.2rem;
  display: inline-block;
}
span {
  margin: 0.4rem;
  border-radius: 0.2rem;
  display: inline-block;
}

.todos-leidos {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.todos-leidos:hover {
  color: hsl(219, 92%, 49%);
  font-weight: 600;
}

.chat {
  background-color: hsla(219, 100%, 50%, 0.13);
  margin-bottom: 1rem;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
}

.chat1 {
  margin-bottom: 1rem;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  padding: 0.5rem;
}

li {
  list-style: none;
  border-radius: 1rem;
}

img {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.mensaje {
  width: 80%;
  display: flex;
  position: relative;
  left: 5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  padding-right: 2.5rem;
  border: 1px solid rgba(0, 0, 0, 0.336);
  padding: 0.3rem;
  cursor: pointer;
}

.mensaje1 {
  /* background-color: hsla(219, 95%, 50%, 0.24); */
  width: 80%;
  display: flex;
  position: relative;
  margin-right: 7rem;
  left: 5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.336);
  padding-right: 2.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

.mensaje1:hover {
  background-color: hsla(219, 95%, 50%, 0.24);
}

.mensaje:hover {
  background-color: hsla(219, 95%, 50%, 0.24);
  cursor: pointer;
}

.name {
  font-weight: 600;
  cursor: pointer;
}

.name:hover {
  color: hsl(239, 96%, 30%);
  font-weight: 700;
  cursor: pointer;
}

.name1 {
  color: hsl(219, 85%, 26%);
  font-weight: 600;
  cursor: pointer;
}

.div-image {
  width: 55%;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

.picture-image {
  width: 15%;
  display: flex;
  cursor: pointer;
  justify-content: end;
}

.mensaje-IA {
  color: rgba(0, 0, 0, 0.459);
  font-weight: 600;
  margin: 1rem;
}

.etiqueta1 {
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.etiquet {
  color: black;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
}

.etiquet:hover {
  color: hsl(239, 96%, 30%);
  font-weight: 900;
  cursor: pointer;
}

.punto {
  color: red;
  font-size: 1rem;
}

.time {
  color: rgba(0, 0, 0, 0.61);
}

.attribution {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.inactive {
  display: none;
}

.inactivo {
  display: none;
}

@media screen and (max-width: 376px) {
}

@media screen and (max-width: 450px) {
  .main-container {
    background-color: white;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    position: relative;
    margin-top: 0.1rem;
    padding: 2rem 2rem;
    border-radius: 0.9rem;
  }
  .mensaje1 {
    /* background-color: hsla(219, 95%, 50%, 0.24); */
    width: 80%;
    position: relative;
    display: flex;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.267);
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding: 0.3rem;
    cursor: pointer;
  }
  .mensaje1:hover {
    background-color: hsla(219, 95%, 50%, 0.24);
    cursor: pointer;
  }
  .inactivo {
    display: inline-block;
  }
  .etiqueta1 {
    color: hsl(239, 96%, 30%);
  }
}
